
<div id= "Hero">
    <h1>Welcome to CSE Motors!</h1>
    <img src="../public/images/vehicles/delorean.jpg" alt="Delorean-img">
    <div id="hero-box">
        <H3>DMC Delorean</H3>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button id="hero-button">Own Today</button>
    </div>
</div>
<div id="home-grid">
    <div class="home-box">
        <h2>Delorean Upgrades</h2>
        <div id="upgrade-grid">
            <div class="upgrade-box">
                <img src="../public/images/upgrades/flux-cap.png" alt="Flux capacitor">
                <h3>Flux Capacitor</h3>
            </div>
            <div class="upgrade-box">
                <img src="../public/images/upgrades/flame.jpg" alt="Flame Decals">
                <h3>Flame Decals</h3>
            </div>
            <div class="upgrade-box">
                <img src="../public/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                <h3>Bumper Sticker</h3>
            </div>
            <div>
                <img src="../public/images/upgrades/hub-cap.jpg" alt="hub caps">
                <h3>Hub Caps</h3>
            </div>
        </div>
    </div>
    <div class="home-box">
        <h2>DMC Delorean Reviews</h2>
        <p>"So fast it's almost like traveling in time"</p>
        <p>"Coolest ride on the road"</p>
        <p>"I'm feeling McFly!"</p>
        <p>"The most furturistic ride of our day"</p>
        <p>"80's livin and love it!"</p>
    </div>
</div>