/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  background-image: url("/images/site/checkerboard.jpg");
  background-size: 400px 400px;
}
body{

  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 5%;
  border: solid 10px turquoise;
  border-radius: 5px;
  background-color: white;
}
#wrapper{
  max-width: 1080px;
}
#top-header{
  max-width: 1080px;
  background-color: #f8f9fa;
  padding: 10px 0;
  border-bottom: 1px solid #e9ecef;
}
.siteName{
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
.siteName a{
  text-decoration: none;
  color: black;
}
#tools{
  position:absolute;
  top: 40px;
  right: 13%;
  font-size: 1.2rem;
  color: black;
}
#tools a{
  color: black;
  text-decoration: none;
}
nav{
  background-color: black;
  color: white;
  padding: 10px 0;
  border-bottom: 1px solid #e9ecef;
}
nav ul{
margin-left: 10%;
}
nav li{
  display: inline;
  margin-right: 10%;
  width: 100%;
  font-size: 1.2rem;
}
nav a{
  color: white;
  text-decoration: none;
}
h1 {
color: black;
font-size: 3rem;
margin-left: 10%;
}
#banner {
  position: relative;
  display: flex; 
  flex-direction: column;
  background-image: url('/images/vehicles/delorean.jpg'); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  color: black;
  font-size: 2rem;
  margin-left: 10%;
  width: 80%;

}
#banner-box {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(46, 121, 156);
  margin-left: 5%;
  margin: 5px;
  
  width: 40%;
  height: 65%;
  font-size: 1.3rem;
}
#index-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
#index-grid-upgrades{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
.index-grid-upgrades-box{
  justify-content: center;
}
.index-grid-upgrades-box img{
  background-color: turquoise;
  color: white;
  padding: 20px;
  width: 100%;
  height: 125px;
  border: teal 1px solid;
  border-radius: 5px;
}
#index-grid-reviews p{
  font-size: 1.2rem;
}

/*=====================================*/
/*=====================================*/
/*========= Inv Display  ============= */
/*=====================================*/
/*=====================================*/

#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  list-style: none;
  padding: 10px;
  width: 90%; /* or any other value that suits your design */
  margin: auto;
  justify-self: center;
}
.inv-box {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(46, 121, 156);
  padding: 10px;
  border: black 1px solid;
  border-radius: 5px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inv-box a {
  height: 170px;
}
.inv-box a img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.inv-box p {
  text-align: center;
  width: 100%;
}



/*=====================================*/
/*=====================================*/
/*======== Media Queries ============= */
/*=====================================*/
/*=====================================*/

@media screen and (max-width: 800px){
  body{
    width: 90%;
  }
  #index-grid{
    grid-template-columns: 1fr;
  }
  .index-grid-upgrades-box{
    width: 80%;
  }
  h1{
    font-size: 2rem;
  }
  nav ul{
    margin-left: 5%;
  }
  nav li{
    margin: 3%;
  }
  #banner-box {
    margin-left: 5%;
    width: 30%;
    font-size: 1rem;
    height: 45%;
  }
  @media screen and (max-width: 600px) {
    body {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      border: none;
    }
    #tools{
      top: 10px;
    }
    nav ul {
      margin-left: 0;
    }
    .banner-box{
      width: 40%;
    }
  
  
  }
}