<!-- Content Heading -->

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    
<!-- Message Block -->
<%# messages() %>

<form class="invManageForm" action="/inv/addClass" method="POST">
    <div>
        <label for="classification_name">Classification Name:</label>
        <input type="text" 
        id="classification_name" 
        name="classification_name" 
        required 
        
        pattern=".*[A-Z]"
        span="Please enter a valid classification"
        value="<%= locals.classification_name %>">
    </div>
    <div>
        <button type="submit">Add Classification</button>
    </div>