<!--    -->

<body>
    <h1>This is Classification</h1>
    <form id="classificationForm" action="/inv/add-classification" method="POST">
      <label for="classification_name">Classification Name:</label>
      <input type="text" id="classification_name" name="classification_name" required pattern="[A-Za-z]+">
      <p>The classification name cannot contain a space or special character of any kind.</p>
      <button type="submit">Submit</button>
    </form>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
  </body>