<!-- Content Heading -->

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    
<!-- Message Block -->
<%# messages() %>

<div>
    <a href="./addClass" class="manageText">Add Classification</a>

</div>
<div>
    <a href="./addInv" class="manageText">Add Inventory</a>
</div>
<h2>Select Classification to Manage</h2>
</div>
<!-- Form -->
 <div>
    <%- form %>

 </div>
<table id="inventoryDisplay"></table>

<script src="../../js/inventory.js"></script>
<noscript>JavaScript must be enabled to use this page.</noscript>